<!-- timelines -->

<!-- ##Gmap Library <script src="/assets/timelines/maps.js"></script> <script src="/assets/timelines/timeline.js"></script> -->

<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb" style="font-size:16px;">
            <li>Tongsu</li>
            <li class="active">Mailing List</li>
        </ol>
        <h2 class="page-title"><%= @channel.group.name %> - <span class="fw-semi-bold"><%= @channel.name %></span></h2>

        <ul class="timeline" id="my-posts">
            <%= render @mailinglists %>
        </ul>

        <div class="timeline" id="infinite-scrolling" style="text-align: center;">
          <%= will_paginate %>
        </dvv>
    </main>
</div>

<script src="/assets/bindWithDelay.js"></script>
<script src="/assets/pagination.js"></script>
<script src="/assets/timelines/jquery.magnific-popup.min.js"></script>
<script src="/assets/mailinglists.js"></script>

<script src="/assets/wysihtml5/bootstrap-select.min.js"></script>
<script src="/assets/wysihtml5/jquery.autosize.min.js"></script>
<script src="/assets/wysihtml5/wysihtml5-0.3.0.min.js"></script>
<script src="/assets/wysihtml5/bootstrap3-wysihtml5.js"></script>
<script src="/assets/wysihtml5/select2.min.js"></script>
<script src="/assets/wysihtml5/switchery.min.js"></script>
<script src="/assets/wysihtml5/moment.min.js"></script>
<script src="/assets/wysihtml5/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/wysihtml5/bootstrap-colorpicker.min.js"></script>
<script src="/assets/wysihtml5/inputmask.js"></script>
<script src="/assets/wysihtml5/fileinput.js"></script>
<script src="/assets/wysihtml5/form-elements.js"></script>