<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <h1 class="page-title" style="margin-bottom:0px; font-weight:400">Dashboard</h1>
		<div class="row col-md-14 hidden-xs" style="width:101%; margin-bottom:30px;">
			<img src="<%= asset_path "main_img.png" %>" style="max-width:100%;">
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<section class="widget">
					<h4><span class="fw-semi-bold">Projects list</span> to join</h4>
					<div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="load" title="I am spinning!" href="#"><i class="fa fa-refresh"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                     </div>
					<div class="widget-body table-responsive" style="min-height:319px; overflow-y:scroll;">
                         <table class="table table-hover">
							<thead>
								<tr>
                                    <th style="text-align:center" width="5%">#</th>
                                    <th style="text-align:center" width="45%" >Project Name</th>
                                    <th style="text-align:center" width="20%">Today</th>
                                    <th style="text-align:center" width="15%">Timeline</th>
									<th style="text-align:center" width="15%">Keyword</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:18px; text-align:center">
                                <tr>
                                    <td>100</td>
                                    <td>Hadoop</td>
                                    <td><span class="badge">0</span></td>
                                    <td><a href="javascript:resizeing()"><button type="button" class="btn btn-primary btn-sm mb-xs">Link</button></a></td>
									<td><a href="#"><button type="button" class="btn btn-danger btn-sm mb-xs">Link</button></a></td>
                                </tr>
                            </tbody>
                         </table>
					</div>
				</section>
			</div>
			
			<div class="col-md-6 col-lg-6">
                <section class="widget">
					<h4><span class="fw-semi-bold">Mailing-list count</span> charts weekly</h4>
					<p class="fs-mini"> &nbsp&nbsp Some project may know how to active!</p>
					<div class="widget-controls">
						<a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
						<a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
						<a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
					</div>
                    <div class="widget-body">
						<!-- chars.js 내용 수정 -->
                        <div class="mt mb" id="flot-main" style="width: 100%; height: 260px;"></div>
                        <div class="chart-tooltip" id="flot-main-tooltip" style="opacity: 0"></div>
                    </div>
                </section>
            </div>
		</div>
		
		<div class="row">
			<div class="col-md-6 widget-container">
                <section class="widget" id="news-widget" data-widgster-load="demo/ajax/widgets/news.php">
                        <h4>Recent <span class="fw-semi-bold">Mailing-list</span></h4>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="load" title="I am spinning!" href="#"><i class="fa fa-refresh"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    <div class="widget-body">
                        <ul class="news-list stretchable">
                            <li>
                                <span class="icon bg-danger text-white">
                                    <i class="fa fa-star"></i>
                                </span>
                                <div class="news-item-info">
                                    <h4 class="name no-margin mb-xs"><a href="#">Hadoop</a></h4>
                                    <p class="fs-mini">
                                        First 700 people will take part in building first human settlement outside of Earth.
                                        That's awesome, right?
                                    </p>
                                    <time class="help-block">Mar 20, 18:46</time>
                                </div>
                            </li>
                            <li>
                                <span class="icon bg-info text-white">
                                    <i class="fa fa-microphone"></i>
                                </span>
                                <div class="news-item-info">
                                    <h4 class="name no-margin mb-xs"><a href="#">openstack-dev</a></h4>
                                    <p class="fs-mini">
                                        Light Blue Inc. shares just hit $300 price. "This was inevitable. It should
                                        have happen sooner or later" - says NYSE expert.
                                    </p>
                                    <time class="help-block">Sep 25, 11:59</time>
                                </div>
                            </li>
                            <li>
                                <span class="icon bg-success text-white">
                                    <i class="fa fa-eye"></i>
                                </span>
                                <div class="news-item-info">
                                    <h4 class="name no-margin mb-xs"><a href="#">No more spying</a></h4>
                                    <p class="fs-mini">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua ...
                                    </p>
                                    <time class="help-block">Mar 20, 18:46</time>
                                </div>
                            </li>
							<li>
                                <span class="icon bg-success text-white">
                                    <i class="fa fa-eye"></i>
                                </span>
                                <div class="news-item-info">
                                    <h4 class="name no-margin mb-xs"><a href="#">No more spying</a></h4>
                                    <p class="fs-mini">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua ...
                                    </p>
                                    <time class="help-block">Mar 20, 18:46</time>
                                </div>
                            </li>
							
                        </ul>
                    </div>
                </section>
            </div>
			
			<div class="col-md-6 col-lg-6 widget-container">
				<section class="widget widget-calendar" style="margin-top:20px;">
					<div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="load" title="I am spinning!" href="#"><i class="fa fa-refresh"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                     </div>
					<div class="widget-body">
						<div class="calendar-controls">
							<div class="btn-group">
								<button class="btn btn-default" id="calender-prev"><i class="fa fa-angle-left"></i></button>
								<button class="btn btn-default" id="calender-next"><i class="fa fa-angle-right"></i></button>
							</div>
							
							<div id="calendar-switcher" class="btn-group pull-right" data-toggle="buttons">
								<label class="btn btn-default active"><input type="radio" name="view" value="month"> Month</label>
								<label class="btn btn-default"><input type="radio" name="view" value="agendaWeek"> Week</label>
								<label class="btn btn-default"><input type="radio" name="view" value="agendaDay"> Day</label>
							</div>
						</div>
						<h4 class="page-title text-center" id="calender-current-date" style="margin:5px 0;">Calendar - <span class="fw-semi-bold">Events</span></h4>
						<div id="calendar" class="calendar"></div>
					</div>
				</section>		
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header no-border">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title fw-bold mt" id="myModalLabel17">Edit Event</h4>
                            </div>
                            <div class="modal-body">
                                <p>One fine body…</p>
                            </div>
                            <div class="modal-footer no-border">
                                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header no-border">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title fw-bold mt" id="myModalLabel18">New Event</h4>
                                <p class="fs-mini text-muted mt-sm">
                                    Just enter event name to create a new one
                                </p>
                            </div>
                            <div class="modal-body bg-gray-lighter">
                                <div class="form-group">
                                    <input type="text" id="event-name" class="form-control input-no-border"
                                           placeholder="Name">
                                </div>
                            </div>
                            <div class="modal-footer no-border">
                                <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                                <button data-dismiss="modal" id="create-event" class="btn btn-success">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			
        </div>
    </main>
</div>

<script src="/assets/home/sparkline_index.js"></script>
<script src="/assets/home/jquery.flot.js"></script>
<script src="/assets/home/jquery.flot.animator.min.js"></script>
<script src="/assets/home/charts.js"></script>
<script src="/assets/home/calendar.js"></script>
<script src="/assets/home/fullcalendar.js"></script>
<script src="/assets/home/modal.js"></script>
<script src="/assets/home/core.js"></script>
<script src="/assets/home/widget.js"></script>
<script src="/assets/home/mouse.js"></script>
<script src="/assets/home/draggable.js"></script>