<script language="javascript">
function Email_form(){
	var check_doc = document.getElementsByName('checking')[0];
	var form_doc = document.getElementById('Email_form')
	if(check_doc.checked==false)
		form_doc.style.display='block';
	else{
		document.getElementById('email').value = '';
		document.getElementById('password').value = '';
		form_doc.style.display='none';
	}
}
</script>

<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <h1 class="page-title">Import - <span class="fw-semi-bold">Webmail</span></h1>
		<div class="row">
			<div class="col-md-8">
				<section class="widget">
                    <div class="widget-body" style="text-align:center">
                        <h3><span class="fw-semi-bold">Select</span> webmail to take webservice</h3>
						<div class="btn-group" data-toggle="buttons" style="margin-top: 30px; margin-bottom:50px;">
							<label class="btn btn-gray" data-toggle="modal" data-target="#googlemail">
								<input type="radio" name="Company" > Google 
							</label>
							<label class="btn btn-gray" data-toggle="modal" data-target="#navermail">
								<input type="radio" name="Company"> Naver 
							</label>
							<label class="btn btn-gray" data-toggle="modal" data-target="#daummail">
								<input type="radio" name="Company"> Daum 
							</label>
                        </div>
                        <div class="modal fade" id="googlemail" tabindex="-1" role="dialog" aria-labelledby="googlemail1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog" style="width:80%">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h2 class="modal-title text-align-center fw-bold mt" id="googlemail1">Google Mail</h2>
                                        <p class="text-align-center fs-mini text-muted mt-sm">
                                            Must do low security settings to bring other mails.
                                        </p>
                                    </div>
                                    <div class="modal-body bg-gray-lighter" style="text-align:center"><img src="<%= asset_path "google_mail.png" %>"></div>
                                    <div class="modal-footer"><button type="button" class="btn btn-gray" data-dismiss="modal">Close</button></div>
                                </div>
                            </div>
                        </div>
						<div class="modal fade" id="navermail" tabindex="-1" role="dialog" aria-labelledby="navermail1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog" style="width:80%">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h2 class="modal-title text-align-center fw-bold mt" id="navermail1">Naver Mail</h2>
                                        <p class="text-align-center fs-mini text-muted mt-sm">
                                            Must do low security settings to bring other mails.
                                        </p>
                                    </div>
                                    <div class="modal-body bg-gray-lighter" style="text-align:center"><img src="<%= asset_path "naver_mail.png" %>"></div>
                                    <div class="modal-footer"><button type="button" class="btn btn-gray" data-dismiss="modal">Close</button></div>
                                </div>
                            </div>
                        </div>
						<!-- daum mail -->
                    </div>
					<div class="row" style="text-align:center">
						<label for="country-select" style="margin-right:30px;">I agree Low Security Settings so that bring other mail</label>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn  btn-danger" onclick="Email_form();">
								<input type="checkbox" name="checking" value="Check"> <i class="fa fa-check text-danger"></i> Check
							</label>
						</div>
					</div>
					<div class="row" style="border:1px solid black">
						<div class="col-md-8" id="Email_form" style="display:none;margin-top:30px; border:1px solid red">
							<form action="" method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
								<fieldset>
									<div class="form-group">
										<!-- Email -->
										<label for="email">Email</label>
											<input type="email" id="email" name="email" placeholder="example@tongsu.su" class="form-control" data-parsley-trigger="change" required="required">
											<span class="help-block">Please provide your E-mail</span>
									</div>
									<div class="form-group">
										<!-- Password -->
										<label for="address">Password</label>
											<input type="password" id="password" name="password" placeholder="password" class="form-control">
											<span class="help-block">Please provide your address</span>
									</div>
									<div class="form-group">
										<button class="btn btn-success btn-rounded pull-right">
											Finish &nbsp; <i class="glyphicon glyphicon-ok"></i>
										</button>
									</div>
								 </fieldset>
							 </form>
						</div>
					</div>
                </section>
			</div>
		</div>
    </main>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<script src="/assets/home/import/modal.js"></script>