<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <h1 class="page-title">Import - <span class="fw-semi-bold">Webmail</span></h1>
        <div class="row">
            <div class="col-md-12">
                <section class="widget">
                    <header>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="row">
							<div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <div id="wizard" class="form-wizard">
                                    <ul class="nav-justified mb-sm">
                                        <li><a href="#tab1" data-toggle="tab"> <small>1.</small> Low Security Settings</a></li>
                                        <li><a href="#tab2" data-toggle="tab"> <small>2.</small> Input your mail Id and Password</a></li>
                                        <li><a href="#tab3" data-toggle="tab"> <small>3.</small> Thank you!</a></li>
                                    </ul>
                                    <div id="bar" class="progress progress-xs">
                                        <div class="progress-bar progress-bar-gray-light"></div>
                                    </div>
                                    <div class="tab-content" style="hegiht:100%;">
                                        <div class="tab-pane bg-gray-lighter" id="tab1">
                                            <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                                                <fieldset style="height:100%;">
                                                    <div class="form-group">
														<div class="row">
															<div class="col-md-12">
																<div class="panel-group mb-lg" id="accordion" data-toggle="collapse">
																	<div class="panel panel-default">
																		<div class="panel-heading collapsed">
																			<h5 class="panel-title">
																				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
																					* Google Mail <i class="fa fa-angle-down pull-right"></i>
																				</a>
																			</h5>
																		</div>
																		<div id="collapseOne" class="panel-collapse collapse">
																			<div class="panel-body">
																				<img src="<%= asset_path "google_mail.png" %>">
																			</div>
																		</div>
																	</div>
																	<div class="panel panel-default">
																		<div class="panel-heading">
																			<h5 class="panel-title">
																				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
																					* Naver mail
																					<i class="fa fa-angle-down pull-right"></i>
																				</a>
																			</h5>
																		</div>
																		<div id="collapseTwo" class="panel-collapse collapse">
																			<div class="panel-body">
																				<img src="<%= asset_path "naver_mail.png"%>">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														
                                                        <label for="country-select" style="margin-right:30px;">I agree Low Security Settings so that bring other mail</label>
															<div class="btn-group" data-toggle="buttons">
																<label class="btn  btn-danger">
																	<input type="checkbox" name="gr1" value=""> <i class="fa fa-check text-danger"></i> Check
																</label>
															</div>
                                                        <span class="help-block">Please choose your country destination</span>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="tab-pane bg-gray-lighter" id="tab2">
										<form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <!-- Email -->
                                                        <label for="email">Email</label>
                                                            <input type="email" id="email" name="email" placeholder="example@tongsu.su" class="form-control" data-parsley-trigger="change" required="required">
                                                            <span class="help-block">Please provide your E-mail</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <!-- Password -->
                                                        <label for="address">Password</label>
                                                            <input type="password" id="password" name="password" placeholder="password" class="form-control">
                                                            <span class="help-block">Please provide your address</span>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="tab-pane bg-gray-lighter" id="tab3">
										가지고오는중...
                                            <h2>Thank you!</h2>
                                            <p>Your submission has been received.</p>
                                        </div>
                                        <ul class="pager wizard">
                                            <li class="previous">
                                                <button class="btn btn-default btn-rounded pull-left">
                                                    <i class="fa fa-caret-left"></i> &nbsp; Previous
                                                </button>
                                            </li>
                                            <li class="next">
                                                <button class="btn btn-primary btn-rounded pull-right" >
                                                    Next &nbsp; <i class="fa fa-caret-right"></i></button>
                                            </li>
                                            <li class="finish" style="display: none">
                                                <button class="btn btn-success btn-rounded pull-right" >
                                                    Finish &nbsp; <i class="glyphicon glyphicon-ok"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>


<script src="/assets/home/import/form-wizard.js"></script>

<script src="/assets/home/import/parsley.min.js"></script>

<script src="/assets/home/import/tab.js"></script>

<script src="/assets/home/import/jquery.bootstrap.wizard.min.js"></script>
<script src="/assets/home/import/select2.js"></script>
<script src="/assets/home/import/moment.min.js"></script>
<script src="/assets/home/import/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/home/import/inputmask.js"></script>
<script src="/assets/home/import/modal.js"></script>
<script src="/assets/home/import/popover.js"></script>
<script src="/assets/home/import/bootstrap-wizard.js"></script>